#maincontainer {
    /* background-color: red; */
    width: 7%;
    margin: 300px auto;
}

#createNewButton {
    width: 130px;
    height: 45px;
    padding: 0 22px;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 14px;
    border-radius: 18px;
    border: none;
}


/* #createNewButton:hover {
    background-color: rgb(236, 236, 236);
    color:  rgb(65, 65, 65);
    transition: 500ms ease-in-out;
    scale: 4.5;
}
 */



/* #createNewButton:hover::after {
    background-color: rgb(236, 236, 236);
    color:  rgb(65, 65, 65);
    transition: 500ms ease-in-out;
    scale: 1.5;
} */